<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="d-flex align-items-center">
      <a class="navbar-brand d-flex" routerLink="login">
        <img src="./assets/images/notes-54.png" class="w-10 h-25" alt="" />
        <h1 class="text-main h4 align-self-center">Note</h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="login"
            routerLinkActive="active-Link"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active-Link"
            >Signup</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
